---

---

<section
  class="w-full max-w-6xl mx-auto grid sm:grid-cols-2 items-center gap-x-10 py-12 lg:py-28 px-5"
>
  <h3
    class="font-special text-primary-300 text-7xl font-semibold text-center sm:text-right text-balance"
  >
    Be <span>Inspired</span>, <br /> be <span>Here!</span>
  </h3>
  <div class="space-y-4 text-center md:text-left flex-1 mt-4 sm:mt-0">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos
      architecto veritatis voluptatum sint deserunt quia consequuntur a dolorum
      aliquid. Dicta quaerat aliquam nostrum, quasi quibusdam culpa amet quis
      numquam labore, dolorem eaque temporibus. Dolores inventore illo optio
      delectus excepturi.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum excepturi
      nulla, similique quos ipsa blanditiis minus magnam.
    </p>
  </div>
</section>
