---
import PrimaryButton from "../ui/PrimaryButton.astro";
import Slide from "./Slide.astro";
import { Icon } from "astro-icon/components";
---

<section class="bg-gray-100 px-5 py-12">
  <div class="w-full max-w-xl mx-auto">
    <Icon
      class="mx-auto text-gray-200"
      title="placeholder logo"
      size={80}
      name="mdi:apps"
    />
    <h2 class="overline-1 text-primary-400 text-center uppercase">
      Garza Blanca blew me away
    </h2>
  </div>
  <div class="swiper testimonial-carousel w-full mt-5 lg:mt-0">
    <div class="swiper-wrapper relative flex-nowrap">
      <Slide>
        <p
          class="text-center text-2xl md:text-3xl text-primary-400 mt-4 text-balance max-w-4xl w-full mx-auto"
        >
          Miguel Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          excepturi ullam pariatur impedit, repellat quae ipsum earum.
        </p>
        <p
          class="w-full mt-4 max-w-sm font-medium mx-auto text-balance text-center text-primary-400"
        >
          Timo Werner
        </p>
      </Slide>
      <Slide>
        <p
          class="text-center text-2xl md:text-3xl text-primary-400 mt-4 text-balance max-w-4xl w-full mx-auto"
        >
          Miguel Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          excepturi ullam pariatur impedit, repellat quae ipsum earum.
        </p>
        <p
          class="w-full mt-4 max-w-sm font-medium mx-auto text-balance text-center text-primary-400"
        >
          Guillermo Vicario
        </p>
      </Slide>
      <Slide>
        <p
          class="text-center text-2xl md:text-3xl text-primary-400 mt-4 text-balance max-w-4xl w-full mx-auto"
        >
          Miguel Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          excepturi ullam pariatur impedit, repellat quae ipsum earum.
        </p>
        <p
          class="w-full mt-4 max-w-sm font-medium mx-auto text-balance text-center text-primary-400"
        >
          James Maddison
        </p>
      </Slide>
      <Slide>
        <p
          class="text-center text-2xl md:text-3xl text-primary-400 mt-4 text-balance max-w-4xl w-full mx-auto"
        >
          Miguel Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          excepturi ullam pariatur impedit, repellat quae ipsum earum.
        </p>
        <p
          class="w-full mt-4 max-w-sm font-medium mx-auto text-balance text-center text-primary-400"
        >
          Richarlison
        </p>
      </Slide>
      <Slide>
        <p
          class="text-center text-2xl md:text-3xl text-primary-400 mt-4 text-balance max-w-4xl w-full mx-auto"
        >
          Miguel Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
          excepturi ullam pariatur impedit, repellat quae ipsum earum.
        </p>
        <p
          class="w-full mt-4 max-w-sm font-medium mx-auto text-balance text-center text-primary-400"
        >
          Micky van de Ven
        </p>
      </Slide>
    </div>
    <div class="mt-4">
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="w-full max-w-xl mx-auto uppercase">
    <p class="text-center font-bold text-primary-400 mt-3">
      A flavorful journey awaits for you
    </p>
    <div class="flex justify-center flex-wrap gap-3 mt-4">
      <PrimaryButton >Cancun</PrimaryButton>
      <PrimaryButton >Puerto Vallarta</PrimaryButton>
      <PrimaryButton >Los cabos</PrimaryButton>
    </div>
  </div>
</section>