---
import { Icon } from "astro-icon/components";
import Toggle from "./toggle.astro";
---

<section class="w-full hidden lg:flex justify-center max-w-6xl  mx-auto">
  <div
    class="flex py-1 gap-x-2 items-center cursor-pointer border-r border-gray-200 pr-3"
  >
    <Icon class="text-gray-400" name="mdi:calendar" size={20} />

    <div class="border-b-2">
      <span>Check in</span>
      <span>—</span>
      <span>Check out</span>
    </div>
  </div>

  <div
    class="flex py-1 gap-x-2 items-center cursor-pointer pl-3 border-r border-gray-200 pr-3"
  >
    <Icon class="text-gray-400" name="mdi:people-group-outline" size={20} />
    <div class="border-b-2 space-x-1">
      <span>2 adults</span>
      <Icon
        class="inline-block text-gray-400"
        name="mdi:arrow-down-drop-circle-outline"
      />
    </div>
  </div>

  <div class="flex py-1 items-start gap-x-4 pl-3 border-r border-gray-200 pr-3">
    <Toggle id="kids" title="Kids" />
    <Toggle id="flight" title="Flight" />
    <Toggle id="agent" title="Agent" />
  </div>

  <div class="space-x-2 py-1 pl-3 mt-1.5">
    <button
      type="button"
      class="py-2.5 px-5 text-sm font-medium text-blue-700 focus:outline-none bg-white rounded-lg border border-blue-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase"
      >Get quote</button
    >
    <button
      type="button"
      class="py-2.5 px-5 text-sm font-medium focus:outline-none bg-white rounded-lg border border-red-200 text-red-700 hover:bg-red-100 hover:text-red-700 focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase"
      >Book now</button
    >
  </div>
</section>
