---
import { Icon } from "astro-icon/components";
import logo from "@assets/logo/Garza-Blanca-Corporativo-Principal.png";
import smallLogo from "@assets/logo/garza-blanca-small-logo.png";
import { Image } from "astro:assets";
import SecondaryButton from "../ui/SecondaryButton.astro";
---

<nav class="flex justify-between w-full max-w-7xl mx-auto px-4 py-2">
  <div class="flex items-center space-x-3">
    <button>
      <Icon class="text-primary-400" size={35} name="mdi:hamburger-close" />
    </button>
    <p class="hidden lg:block text-base font-medium">
      Ph. <span class="overline-1">1 887 845 3791</span>
    </p>
    <div class="flex items-center gap-x-1">
      <Icon name="mdi:world" />
      <span class="overline-1">ES</span>
    </div>
  </div>
  <div class="items-center justify-between">
    <Image
      loading="eager"
      class="mx-auto relative bottom-1.5 hidden sm:block"
      src={logo}
      alt="Garza Blanca logo"
      format="avif"
      width={170}
    />
    <Image
      loading="eager"
      class="mx-auto block sm:hidden"
      src={smallLogo}
      alt="Garza Blanca logo"
      format="avif"
      width={50}
    />
  </div>
  <div class="flex gap-x-3 sm:gap-x-4">
    <button>
      <Icon size={20} class="inline-block" name="mdi:person" />
      <span class="overline-1">Log in</span></button
    >
    <button class="hidden sm:block">
      <Icon size={20} class="inline-block" name="mdi:location-enter" />
      <span class="overline-1">Register</span></button
    >
    <SecondaryButton class="hidden md:block">Book a resort</SecondaryButton>
  </div>
</nav>
