---

---

<section
  class="w-full overflow-hidden mx-auto grid md:grid-cols-2 items-center gap-x-10 py-12 md:py-28 px-5"
>
  <div class="jos" data-jos_animation="fade-right">
    <h3
      class="special-title-1 leading-tight text-primary-300 text-center md:text-right text-pretty"
    >
      <span class="text-3xl md:text-7xl">Be</span>
      <span class="italic">Inspired</span>, <br />
      <span class="text-3xl md:text-7xl">be</span>
      <span class="">Here!</span>
    </h3>
  </div>
  <div
    class="jos space-y-4 mx-auto md:mx-0 max-w-xl text-center md:text-left flex-1 mt-4 md:mt-0"
    data-jos_animation="fade-left"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos
      architecto veritatis voluptatum sint deserunt quia consequuntur a dolorum
      aliquid. Dicta quaerat aliquam nostrum, quasi quibusdam culpa amet quis
      numquam labore, dolorem eaque temporibus. Dolores inventore illo optio
      delectus excepturi.
    </p>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum excepturi
      nulla, similique quos ipsa blanditiis minus magnam.
    </p>
  </div>
</section>
