---
import "../global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Garza</title>
    <!-- fonts -->
    <!-- lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- playfair display -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <!-- galliard -->
    <link href="/fonts/galliard/stylesheet.css" rel="stylesheet" />
  </head>
  <body>
    <slot />
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </body>
</html>

<script>
  import Swiper from "swiper/bundle";
  // import Swiper and modules styles
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  new Swiper(".spot-showcase-carousel", {
    direction: "horizontal",
    loop: true,
    slidesPerView: "auto",
    spaceBetween: 30,
    autoplay: false,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next-custom-spot-showcase",
      prevEl: ".swiper-button-prev-custom-spot-showcase",
    },
  });

  new Swiper(".restaurant-list-carousel", {
    direction: "horizontal",
    loop: true,
    slidesPerView: 4,
    spaceBetween: 30,
    autoplay: false,
    navigation: {
      nextEl: ".swiper-button-next-custom-restaurant-list",
      prevEl: ".swiper-button-prev-custom-restaurant-list",
    },
    breakpoints: {
      1300: { slidesPerView: 4, spaceBetween: 30 },
      1100: { slidesPerView: 3, spaceBetween: 20 },
      676: { slidesPerView: 2, spaceBetween: 10 },
      0: { slidesPerView: 1, spaceBetween: 5 },
    },
  });

  new Swiper(".testimonial-carousel", {
    direction: "horizontal",
    loop: true,
    slidesPerView: 1,
    spaceBetween: 30,
    autoplay: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
