---
import { Icon } from "astro-icon/components";
---

<section
  class="xl:flex flex-row-reverse items-center gap-x-16 mt-12 py-12 bg-primary-100 xl:bg-white"
>
  <div
    class="xl:w-1/2 text-center space-y-8 w-full xl:max-w-8xl xl:mx-auto xl:pr-5 px-5 xl:px-0"
  >
    <div class="xl:hidden uppercase">
      <h2 class="font-section text-5xl font-light text-balance">
        Explore more
      </h2>
      <span class="block text-xl">with garza blanca</span>
    </div>
    <h2
      class="hidden xl:block font-section text-5xl font-light uppercase text-balance"
    >
      Glamour & comfort <span>that expands the imagination</span>
    </h2>

    <div>
      <p class="w-full max-w-xl mx-auto">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam culpa
        tenetur sunt laborum libero architecto animi dicta deleniti, ad tempora
        nulla molestiae distinctio adipisci veritatis.
      </p>
      <a
        href="#"
        class="xl:hidden inline-block uppercase mt-2 text-base underline text-primary-300 font-semibold"
        >View blog</a
      >
    </div>

    <div class="hidden xl:inline-block">
      <h3 class="font-section uppercase text-3xl text-primary-300 font-light">
        Three destinations your choice...
      </h3>
      <Icon
        size={30}
        class="text-gray-300 mx-auto mt-5"
        name="mdi:arrow-down-drop-circle-outline"
      />
      <div class="flex justify-center gap-x-10 mt-8">
        <a
          class="py-2.5 px-5 text-sm font-medium text-blue-700 focus:outline-none bg-white rounded-lg border border-blue-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 cursor-pointer focus:ring-gray-200 uppercase"
          >Cancun</a
        >
        <a
          class="py-2.5 px-5 text-sm font-medium text-blue-700 focus:outline-none bg-white rounded-lg border border-blue-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 cursor-pointer focus:ring-gray-200 uppercase"
          >Puerto vallarta</a
        >
        <a
          class="py-2.5 px-5 text-sm font-medium text-blue-700 focus:outline-none bg-white rounded-lg border border-blue-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 cursor-pointer focus:ring-gray-200 uppercase"
          >Los cabos</a
        >
      </div>
    </div>
  </div>
  <video
    class="xl:w-1/2 mt-6 xl:mt-6 w-full max-w-3xl xl:max-w-8xl mx-auto xl:pl-5 px-5 xl:px-0 aspect-video"
    controls
    muted
  >
    <source src="/placeholder-video.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
</section>
