---
import { Icon } from "astro-icon/components";
import Slide from "./Slide.astro";
---

<section class="jos px-5 sm:px-16 py-8 w-full max-w-8xl mt-8 mb-12 mx-auto">
  <h2
    class="section-title leading-tight text-primary-400 uppercase text-center text-4xl"
  >
    Gourmet restaurants <span class="section-subtitle-2 block mt-1"
      >taking you on a culinary journey</span
    >
  </h2>
  <div class="swiper restaurant-list-carousel w-full mt-10">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper relative flex-nowrap">
      <Slide>
        <Icon
          class="mx-auto text-red-400 mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
      <Slide>
        <Icon
          class="mx-auto text-green-400 mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
      <Slide>
        <Icon
          class="mx-auto text-black mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
      <Slide>
        <Icon
          class="mx-auto text-gray-400 mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
      <Slide>
        <Icon
          class="mx-auto text-yellow-600 mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
      <Slide>
        <Icon
          class="mx-auto text-purple-600 mt-1"
          title="placeholder logo"
          size={90}
          name="mdi:apps"
        />
      </Slide>
    </div>
    <div class="flex justify-center gap-x-8 mt-10">
      <button>
        <Icon
          class="swiper-button-prev-custom-restaurant-list text-gray-200 hover:text-gray-500 focus:text-gray-700 transition-color duration-300"
          size={30}
          name="mdi:arrow-left"
        />
      </button>
      <button>
        <Icon
          class="swiper-button-next-custom-restaurant-list text-gray-200 hover:text-gray-500 focus:text-gray-700 transition-color duration-300"
          size={30}
          name="mdi:arrow-right"
        />
      </button>
    </div>
  </div>
</section>

<style>
  .custom-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
</style>
