---
import Feature from "./feature.astro";
---

<section class="text-center px-5 w-full max-w-7xl mx-auto">
  <div>
    <h2 class="font-section text-5xl font-light uppercase">
      Every garza blanca includes
    </h2>
    <p class="text-primary-400 mt-4 text-lg max-w-xl mx-auto">
      Lorem ipsum, dolor sit amet consectetur <span class="font-semibold"
        >adipisicing elit.</span
      > Illum nesciunt inventore repudiandae iusto. Reiciendis sed autem culpa quos,
      cum saepe?
    </p>
  </div>
  <div>
    <ul class="mt-20 flex flex-wrap justify-center gap-x-16 gap-y-24">
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
      <Feature>Recreational Activities</Feature>
    </ul>
  </div>
</section>
