---
import Feature from "./feature.astro";
---

<section class="text-center px-5 w-full max-w-7xl mx-auto">
  <div>
    <h2 class="section-title font-light uppercase leading-none">
      Every garza blanca <br />
      <span class="section-subtitle-2">includes</span>
    </h2>
    <p class="text-primary-400 mt-4 text-lg max-w-xl mx-auto">
      Lorem ipsum, dolor sit amet <span class="font-semibold"
        >consectetur adipisicing elit.</span
      > Illum nesciunt inventore repudiandae iusto. Reiciendis sed quos, cum saepe?
    </p>
  </div>
  <div>
    <ul class="mt-20 flex flex-wrap justify-center gap-x-16 gap-y-24">
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
      <Feature>Recreational <br /> Activities</Feature>
    </ul>
  </div>
</section>
