---
import { Icon } from "astro-icon/components";
---

<li>
  <Icon
    class="mx-auto text-gray-400"
    title="placeholder logo"
    size={80}
    name="mdi:apps"
  />
  <span class="block font-semibold text-primary-400 text-lg">
    <slot />
  </span>
</li>
