---
import Button from "./SubnavbarButton.astro";
---

<section class="flex justify-center px-4 py-1 border-t border-gray-200">
  <div class="hidden md:flex gap-x-5 flex-wrap justify-center ">
    <Button>Our Resorts</Button>
    <Button>Accommodations</Button>
    <Button>Destinations</Button>
    <Button>Dining</Button>
    <Button>Spa</Button>
    <Button>Special Offers</Button>
  </div>
</section>
