@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
  min-height: 0;
}

html {
  min-height: 100%;
}

.headline-1 {
  font-size: 34px;
  font-family: "ITC Galliard Std";
  font-weight: 400;
}

.headline-2 {
  font-size: 24px;
  font-family: "ITC Galliard Std";
  font-weight: 400;
  @apply text-primary-300;
}

.subtitle-1 {
  font-size: 24px;
  font-family: "ITC Galliard Std";
  font-weight: 400;
  @apply text-primary-400;
}

.subtitle-2 {
  font-size: 20px;
  font-family: "ITC Galliard Std";
  font-weight: 400;
  @apply text-primary-400;
}

body {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 18px;
  @apply text-primary-500;
}

.body-2 {
  font-size: 20px;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  @apply text-primary-500;
}

.caption {
  font-size: 12px;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-style: italic;
  @apply text-primary-500;
}

.overline-1 {
  font-weight: 600;
  font-size: 14px;
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  @apply text-primary-500;
}

.special-title-1 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 600;
  font-size: clamp(40px, 10vw, 117px);
}

.special-title-2 {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 44px;
  letter-spacing: 1px;
}

.section-title {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 12px;
}

.section-subtitle-1 {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  font-size: 34px;
  letter-spacing: 1px;
}

.section-subtitle-2 {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: 34px;
  letter-spacing: 1px;
}

.title {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 27px;
}

.button-1 {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.button-2 {
  font-family: "Lato", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.swiper {
  width: 100%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}
