---
const { class: className } = Astro.props;
---

<button
  class:list={["button-2 py-2 px-5 text-sm focus:outline-none bg-white rounded border border-secondary-200 text-secondary-200 hover:bg-red-100 focus:z-10 focus:ring-4 focus:ring-gray-200 uppercase", className]}
>
  <slot />
</button>
